/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff; /* White text color */
}

/* Header Styles */
header {
    background-color: #6c48e2;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0 15px; /* Add horizontal margin for spacing */
    font-size: 1.6em;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0; /* Remove default margin */
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ddd;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    header nav ul {
        margin-top: 10px;
        padding: 0;
    }

    header nav ul li {
        margin: 5px 0;
    }
}


/* Apply dark mode style to the body and html */
body, html {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #212530; /* Dark background for body */
    height: 100%; /* Full height */
}

/* Style the header */
header {
    background-color: #6c48e2; /* Header background color */
    padding: 20px 0;
    text-align: center;
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    top: 0;
    z-index: 1000; /* Ensures the header is above other content */
}

/* Style the main content */
.main-content {
    margin-top: 80px; /* Increased margin to account for header height */
    padding-bottom: 70px; /* Adjusted for footer height */
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

/* Article styles */

/* Style the footer */
footer {
    background-color: #6c48e2; /* Footer background color */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Changed to relative positioning */
    width: 100%; /* Full width */
    clear: both; /* Clear floats */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .posts-grid {
        grid-template-columns: 1fr;
    }

    header {
        padding: 10px 0;
    }

    .main-content {
        margin-top: 60px; /* Adjusted margin for smaller screens */
    }
}

/* Stylish Border for Blog Posts */
.blog-post {
    border: 1px solid #dddddd; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures content fits within the rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

/* Blog Post Styles */
.blog-post {
    margin: 20px;
    overflow: hidden; /* Ensure images scale properly */
    border-radius: 10px; /* Optional: rounded corners */
    transition: box-shadow 0.3s ease;
}

.blog-post a {
    text-decoration: none;
    color: #000;
}

.blog-post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.post-content {
    padding: 15px;
}

.blog-post:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.blog-post:hover img {
    transform: scale(1.03); /* Slightly scale up image on hover */
}
/* Responsive Grid for Blog Posts */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .posts-grid {
        grid-template-columns: 1fr;
    }
}

/* Centering Blog Post Titles */
.blog-post h3 {
    text-align: center;
    margin-top: 10px; /* Adjust as needed for spacing */
}


#show-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6c48e2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.search-bar {
    position: absolute;
    top: 5; /* Regola questa proprietà in base alla posizione verticale desiderata */
    right: 10px;
    left: 823px; /* Aggiungi un valore positivo per spostare verso sinistra */
    z-index: -1; /* Impostato un valore di z-index inferiore */
}

.search-bar input {
    padding: 8px;
    margin-right: 10px; /* Aggiunto margine a destra */
    color: #000;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-bar button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {
    .search-bar {
        display: block;
        position: relative; /* Modifica la posizione se necessario /
        top: auto;
        right: auto;
        left: auto;
        z-index: 1; / Imposta un valore maggiore per garantire la visibilità /
    }

    .search-bar input {
        padding: 5px; / Regola la dimensione del padding o altre proprietà per rendere più piccolo il campo di input /
        font-size: 0.8em; / Riduci la dimensione del carattere per rendere più piccolo il testo di input /
    }

    .search-bar button {
        padding: 5px 8px; / Regola la dimensione del padding o altre proprietà per rendere più piccolo il pulsante /
        font-size: 0.8em; / Riduci la dimensione del carattere per rendere più piccolo il testo del pulsante */
    }
}
